@font-face {
  font-family: "Inter";
  src: url("Inter-Regular.eot");
  src: url("Inter-Regular.eot") format("embedded-opentype"),
    url("Inter-Regular.woff2") format("woff2"),
    url("Inter-Regular.woff") format("woff"),
    url("Inter-Regular.ttf") format("truetype");
  /* url("Inter-Regular.svg#Inter-Regular") format("svg"); */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("Inter-SemiBold.eot");
  src: url("Inter-SemiBold.eot") format("embedded-opentype"),
    url("Inter-SemiBold.woff2") format("woff2"),
    url("Inter-SemiBold.woff") format("woff"),
    url("Inter-SemiBold.ttf") format("truetype");
  /* url("Inter-SemiBold.svg#Inter-SemiBold") format("svg"); */
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("Inter-ExtraBold.eot");
  src: url("Inter-ExtraBold.eot") format("embedded-opentype"),
    url("Inter-ExtraBold.woff2") format("woff2"),
    url("Inter-ExtraBold.woff") format("woff"),
    url("Inter-ExtraBold.ttf") format("truetype");
  /* url("Inter-ExtraBold.svg#Inter-ExtraBold") format("svg"); */
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("Manrope-Medium.eot");
  src: url("Manrope-Medium.eot") format("embedded-opentype"),
    url("Manrope-Medium.woff2") format("woff2"),
    url("Manrope-Medium.woff") format("woff"),
    url("Manrope-Medium.ttf") format("truetype");
  /* url("Manrope-Medium.svg#Manrope-Medium") format("svg"); */
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("Manrope-Bold.eot");
  src: url("Manrope-Bold.eot") format("embedded-opentype"),
    url("Manrope-Bold.woff2") format("woff2"),
    url("Manrope-Bold.woff") format("woff"),
    url("Manrope-Bold.ttf") format("truetype");
  /* url("Manrope-Bold.svg#Manrope-Bold") format("svg"); */
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("Manrope-ExtraBold.eot");
  src: url("Manrope-ExtraBold.eot") format("embedded-opentype"),
    url("Manrope-ExtraBold.woff2") format("woff2"),
    url("Manrope-ExtraBold.woff") format("woff"),
    url("Manrope-ExtraBold.ttf") format("truetype");
  /* url("Manrope-ExtraBold.svg#Manrope-ExtraBold") format("svg"); */
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Medium.eot");
  src: url("Montserrat-Medium.eot") format("embedded-opentype"),
    url("Montserrat-Medium.woff2") format("woff2"),
    url("Montserrat-Medium.woff") format("woff"),
    url("Montserrat-Medium.ttf") format("truetype");
  /* url("Montserrat-Medium.svg#Montserrat-Medium") format("svg"); */
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-SemiBold.eot");
  src: url("Montserrat-SemiBold.eot") format("embedded-opentype"),
    url("Montserrat-SemiBold.woff2") format("woff2"),
    url("Montserrat-SemiBold.woff") format("woff"),
    url("Montserrat-SemiBold.ttf") format("truetype");
  /* url("Montserrat-SemiBold.svg#Montserrat-SemiBold") format("svg"); */
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("Oswald-Regular.eot");
  src: url("Oswald-Regular.eot") format("embedded-opentype"),
    url("Oswald-Regular.woff2") format("woff2"),
    url("Oswald-Regular.woff") format("woff"),
    url("Oswald-Regular.ttf") format("truetype");
  /* url("Oswald-Regular.svg#Oswald-Regular") format("svg"); */
  font-weight: 400;
  font-style: normal;
}
